<label for="name">Name</label>
<input id="name"
       ng-model="model.widgetName"
       class="form-control"/>

<label for="text">Text</label>
<input id="text"
       ng-model="model.widgetText"
       class="form-control"/>

<label>Size</label>
<select ng-model="model.widgetSize" class="form-control">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
</select>

