<label for="name">Name</label>
<input ng-model="model.widget.text"
       type="text"
       class="form-control"
       placeholder="Header Name"
       id="name"
       required>
<label for="text">Text</label>
<input ng-model="model.widget.text"
       type="text"
       class="form-control"
       placeholder="Header Text"
       id="text">
<label>Size</label>
<select ng-model="model.widget.size" class="form-control">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
</select>

