
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <div class="navbar-text pull-left">
            <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>

        <a class="navbar-brand cl-text-white cl-text-bold" href="#">
            Choose Widget
        </a>
    </div>
</nav>


<div class="container-fluid">
    <div class="list-group cl-list-group-borderless">
        <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/HEADING"
           class="list-group-item list-group-item-action">
            Header</a>
        <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/HTML"
           class="list-group-item list-group-item-action">
            HTML</a>
        <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/IMAGE"
           class="list-group-item list-group-item-action">
            Image</a>
        <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/YOUTUBE"
           class="list-group-item list-group-item-action">
            YouTube</a>
        <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/TEXT"
           class="list-group-item list-group-item-action">
            Text</a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">

            <a href="#!/profile" class="tv-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>
