
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <div class="navbar-text pull-left">
            <a href="#!/website/{{model.wid}}/page" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.createPage(model.pageName, model.pageTitle)" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
            </a>
        </div>
        <a class="navbar-brand cl-text-white cl-text-bold" href="#">
            New Page
        </a>
    </div>
</nav>


<div class="container">
    <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>

    <label for="pageName">Page Name</label>
    <input type="text"
           class="form-control"
           placeholder="Page Name"
           id="pageName"
           ng-model="model.pageName"
           required>
    <label for="pageTitle">Page Title</label>
    <input type="text"
           class="form-control"
           placeholder="Page Title"
           id="pageTitle"
           ng-model="model.pageTitle"
           required>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">

            <a href="#!/profile" class="tv-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>
